#TitleText{
    margin: -15px;
}


#background {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/connectwork.png");
    overflow: hidden;
    height: 100vh;
}

#headerImage{
    height: 100vh;
}
