#TitleText{
    margin: -15px;
}

#headerImage{
    height: 100vh;
    overflow: hidden;
}

#background {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/connectwork.png");
}
